RMs-ejb/src/conf/xml-resources/web-service-references/FE_Database_2/wsdl/leandro3.homeunix.org_8080/Legacy-war/FE_Database.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.com/" name="FE_Database">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.com/" schemaLocation="http://leandro3.homeunix.org:8080/Legacy-war/FE_Database?xsd=1"/>
</xsd:schema>
</types>
<message name="addReservation">
<part name="parameters" element="tns:addReservation"/>
</message>
<message name="addReservationResponse">
<part name="parameters" element="tns:addReservationResponse"/>
</message>
<message name="addOffer">
<part name="parameters" element="tns:addOffer"/>
</message>
<message name="addOfferResponse">
<part name="parameters" element="tns:addOfferResponse"/>
</message>
<message name="getDB">
<part name="parameters" element="tns:getDB"/>
</message>
<message name="getDBResponse">
<part name="parameters" element="tns:getDBResponse"/>
</message>
<portType name="FE_Database">
<operation name="addReservation">
<input wsam:Action="http://webservice.com/FE_Database/addReservationRequest" message="tns:addReservation"/>
<output wsam:Action="http://webservice.com/FE_Database/addReservationResponse" message="tns:addReservationResponse"/>
</operation>
<operation name="addOffer">
<input wsam:Action="http://webservice.com/FE_Database/addOfferRequest" message="tns:addOffer"/>
<output wsam:Action="http://webservice.com/FE_Database/addOfferResponse" message="tns:addOfferResponse"/>
</operation>
<operation name="getDB">
<input wsam:Action="http://webservice.com/FE_Database/getDBRequest" message="tns:getDB"/>
<output wsam:Action="http://webservice.com/FE_Database/getDBResponse" message="tns:getDBResponse"/>
</operation>
</portType>
<binding name="FE_DatabasePortBinding" type="tns:FE_Database">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addOffer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDB">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FE_Database">
<port name="FE_DatabasePort" binding="tns:FE_DatabasePortBinding">
<soap:address location="http://leandro3.homeunix.org:8080/Legacy-war/FE_Database"/>
</port>
</service>
</definitions>